extends layout
block header
    .contenedor
        ul.contenido
            li
                h1(class="h1" style="position:relative;left:-20px; list-style:none; ") Log in


            
            li.mobiemail  
                

            form.form(action="/login" method="post")
                label(for="email") Mobile or Email:
                input(type="text" id="mobile" name="mobile" placeholder="Mobile or Email" required)
                label(for="Contraseña") Contraseña:
                input(type="password" id="pass" name="pass" placeholder="Contraseña" required)
                input(type="submit" value="Enviar" name="enviar" class="boton")
                a(href="/restorepassword") ¿Olvidaste tu contraseña?
                a(href="/registro") Crear cuenta
            
            if error
             p(class="alert alert-danger")= error
            if success
             p(class="alert alert-success")= success  
              

