extends layout

block header 
    .contenedor
        h1= namepage
        p Agrega tu e-mail o Mobile para restablecer la contraseña
        form(method="post" action="/restorepassword")
            label(for="email") Mobile or Email:
            input(type="text" id="mobile" name="mobile" placeholder="Mobile or Email" required)
            input(type="submit" value="Send" name="enviar" class="boton")
            a(href="/login") Iniciar sesion 
           
            if mensajes.length > 0
                p(class="alert alert-danger")= mensajes
            if errtoken
                p(class="alert alert-danger")= errtoken
