doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./email.css
    body 
        h2 Reset password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para restablecerlo, este enlace es temporal, si deja funcionar puedes volver a solicitarlo
        a(href=`${resetUrl}`) Reset password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo